<html>
<body>
<h2>Users Management</h2>
<div class="tables-container">
  <button (click)="navigateToUserForm('add')" class="add-button">ADD USER</button>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Role</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{ user.name }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.role }}</td>
    <td>
      <div class="action-buttons">
        <button (click)="navigateToUserForm('edit', user.id)" class="edit-button">EDIT</button>
        <button (click)="deleteUser(user.id)" class="delete-button">DELETE</button>
        <button (click)="openChat(user)" class="chat-button">CHAT</button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
</div>
</body>
<app-navbar></app-navbar>
</html>
